class SomeClassName {
    int x;
};

"aawda(dawd"

([[]])

"()"

("")

"Som\naa"

body {
    overflow: scroll; overflow: scroll; border-top: hidden; border-top-width;
    border-top-width: ;
    border-left-color: #6dffff;
    border-top-color: ;
}

body {
    border: 1px rgba(107, 205, 255, 0.670) solid;
}
